@import '~normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --font-color-primary: #333;
  --font-color-white: #fff;
  --font-color-black: #000;
  --font-color-dark-blue: #13829b;
  --bg-color-light-orange: #fcc29a;
  --bg-color-very-light-orange: #fde9c9;
  --bg-color-cyan: #29d2e4;
  --bg-color-dark-cyan: #13829b;
  --font-family-primary: Lato;
  --font-family-secondary: Raleway;
}

body {
  font-size: 1rem;
  color: var(--font-color-primary, #333);
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

/* Styling website primary header */
.header__content {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem 5rem;
  border-bottom: 3px solid #000;
}

.header__nav-links-list {
  display: flex;
  gap: 4rem;
  padding-top: 1rem;
}

.header__nav-link {
  font-family: var(--font-family-primary, Lato);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  color: var(--font-color-black, #000);
  text-decoration: underline;
  text-decoration-color: #00000000;
  line-height: normal;
  padding: 0.425rem;
  border-radius: 0.5rem;
  transition: text-decoration-color 250ms;
  text-decoration-thickness: 0.625rem;
  text-underline-offset: 1.9rem;
}

.header__nav-link:hover {
  text-decoration-color: #000000ff;
}

.header__nav-link:active {
  transition: text-underline-offset 100ms ease;
  text-underline-offset: 0.5rem;
}

.header__nav--secondary {
  align-self: flex-end;
}

.header__nav-button {
  font-family: var(--font-family-primary, Lato);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  color: var(--font-color-white, #fff);
  line-height: normal;
  padding: 0.75rem 2rem;
  background-color: var(--bg-color-dark-cyan, #13829b);
  border: none;
  border-radius: 0.5rem;
}

.button--click-animation {
  transition: transform 100ms;
}

.button--click-animation:hover {
  transform: scale(1.05);
}

.button--click-animation:active {
  transform: scale(1);
}

/* Styling main section */
.donate-section {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1.2fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 15rem;
  padding-left: 5rem;
}

.donate-section__text-content {
  position: relative;
  z-index: 1;
}

.donate-section__tag-list {
  list-style-position: inside;
  list-style-image: url(../assets/list-style-hyphen.svg);
}

.donate-section__tag-list-element {
  font-family: Lato;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  color: var(--bg-color-dark-cyan, #13829b);
  line-height: normal;
}

.donate-section__title {
  font-family: var(--font-family-secondary, Raleway);
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  color: var(--font-color-primary, #333);
  line-height: normal;
  position: relative;
  margin-bottom: 2.75rem;
  max-width: 90%;
}

.donate-section__title--highlighted {
  font-family: var(--font-family-secondary, Raleway);
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  color: var(--bg-color-dark-cyan, #13829b);
  text-decoration: underline;
  text-decoration-color: var(--bg-color-very-light-orange, #fde9c9);
  line-height: normal;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.625rem;
}

.donate-section__title-block-icon {
  position: absolute;
  right: 3rem;
  bottom: 0;
  width: 3.2rem;
  height: 3.2rem;
  background-image: url(../assets/section-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.donate-section__desctiption {
  font-family: var(--font-family-primary, Lato);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  color: var(--font-color-primary, #333);
  line-height: 1.8125rem; /* 161.111% */
  margin-bottom: 2.5rem;
  max-width: 70%;
}

.donate-section__support-block {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.donate-section__button {
  font-family: var(--font-family-primary, Lato);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  color: var(--font-color-white, #fff);
  line-height: normal;
  gap: 1rem;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color-dark-cyan, #13829b);
  border: none;
  border-radius: 0.5rem;
}

.donate-section__support-block--extra {
  text-decoration: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.donate-section__support-block-icon {
  display: block;
  width: 3rem;
  height: 3rem;
  background-image: url(../assets/open-more-in_circrle-arrow.svg);
}

.donate-section__support-block-title {
  font-family: var(--font-family-primary, Lato);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  color: var(--font-color-primary, #333);
  line-height: 1.8125rem;
}

.donate-section__image-content {
  display: grid;
  position: relative;
  justify-content: right;
}

.donate-section__image-content--kids-image {
  position: absolute;
  z-index: 3;
  top: 8rem;
  right: 65%;
  border: 5px solid white;
  border-radius: 15rem;
  filter: grayscale(100%);
}

.donate-section__image-content-block--clothes-image {
  position: relative;
  z-index: 1;
}

.donate-section__image-content-square--blue-transparent {
  position: absolute;
  bottom: 15%;
  left: 15%;
  width: 30%;
  height: 27%;
  background-color: var(--bg-color-cyan, #29d2e4);
  mix-blend-mode: multiply;
}

.donate-section__image-content-rectangle {
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: -5rem;
  width: 100%;
  height: 19rem;
  background-color: var(--bg-color-light-orange, #fcc29a);
}

/* Second section of website styling */
.additional-info-section__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center;
  align-items: center;
  margin-bottom: 14rem;
}

.additional-info-section__content-item {
  display: grid;
  justify-items: center;
  border-right: 0.3rem solid #fcc29a;
  padding: 1rem;
}

.additional-info-section__content-item:last-child {
  border: none;
}

.additional-info-section__content-item-icon {
  margin-bottom: 1.7rem;
  width: 3.0625rem;
  height: 2.875rem;
}

.additional-info-section__content-item-title {
  font-family: var(--font-family-secondary, Raleway);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  color: var(--font-color-primary, #333);
  line-height: normal;
  margin-bottom: 1.25rem;
  text-align: center;
}

.additional-info-section__content-item-link {
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
}

.additional-info-section__content-item-link:hover {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.2rem;
  text-decoration-color: var(--font-color-primary, #333);
}

.additional-info-section__content-item-link-title {
  font-family: var(--font-family-secondary, Raleway);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  color: var(--font-color-primary, #333);
  text-transform: uppercase;
  line-height: normal;
}

.additional-info-section__content-item-link-icon {
  width: 1.125rem;
  height: 1.125rem;
}

@media screen and (max-width: 1600px) {
  /* Additional-section media querry*/
  .additional-info-section__content-item:nth-child(3) {
    border-right: none;
  }
  .additional-info-section__content-item:last-child {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}

@media screen and (max-width: 1200px) {
  /* Donate Section(Main block) media query */
  .donate-section {
    grid-auto-flow: row;
    grid-gap: 1.5rem;
    grid-template-columns: auto;
    margin-bottom: 5rem;
  }

  .donate-section__title-block-icon {
    right: 0;
  }

  .donate-section__image-content--kids-image {
    top: 30%;
    left: 0;
  }
  .donate-section__image-content-rectangle {
    bottom: 30%;
    width: 100%;
    height: 20%;
  }

  /* Additional-section(Second section) media query */
  .additional-info-section__content {
    grid-gap: 1rem;
    margin-bottom: 7rem;
  }
  .additional-info-section__content-item:nth-child(2) {
    border-right: none;
  }
  .additional-info-section__content-item:nth-child(3) {
    border-right: 0.3rem solid #fcc29a;
  }
  .additional-info-section__content-item:last-child {
    grid-row: auto;
    grid-column: auto;
  }
}

@media screen and (max-width: 900px) {
  /* Primary header media query */
  .header__content {
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  /* Donate Section(Main block) media query */
  .donate-section__title {
    margin-bottom: 0;
  }
  .donate-section__title-block-icon {
    position: relative;
    margin-left: 90%;
  }
  .donate-section {
    padding-left: 1rem;
  }
  .donate-section__support-block {
    gap: 1rem;
  }

  /* Additional-section(Second section) media query */
  .additional-info-section__content {
    justify-items: center;
  }
  .additional-info-section__content-item {
    border-right: none;
    border-bottom: 0.3rem solid #fcc29a;
    border-radius: 2rem;
  }
  .additional-info-section__content-item:nth-child(3) {
    border-right: none;
  }
  .additional-info-section__content-item:last-child {
    border-bottom: 0.3rem solid #fcc29a;
    border-radius: 2rem;
  }
}
