@import '~normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --font-color-primary: #333;
  --font-color-white: #fff;
  --font-color-black: #000;
  --font-color-dark-blue: #13829b;
  --bg-color-light-orange: #fcc29a;
  --bg-color-very-light-orange: #fde9c9;
  --bg-color-cyan: #29d2e4;
  --bg-color-dark-cyan: #13829b;
  --font-family-primary: Lato;
  --font-family-secondary: Raleway;
}

body {
  font-size: 1rem;
  color: var(--font-color-primary, #333);
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

/* Styling website primary header */
.header__content {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem 5rem;
  border-bottom: 3px solid #000;
}

.header__nav-links-list {
  display: flex;
  gap: 4rem;
  padding-top: 1rem;
}

.header__nav-link {
  font-family: var(--font-family-primary, Lato);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  color: var(--font-color-black, #000);
  text-decoration: underline;
  text-decoration-color: #00000000;
  line-height: normal;
  padding: 0.425rem;
  border-radius: 0.5rem;
  transition: text-decoration-color 250ms;
  text-decoration-thickness: 0.625rem;
  text-underline-offset: 1.9rem;
}

.header__nav-link:hover {
  text-decoration-color: #000000ff;
}

.header__nav-link:active {
  transition: text-underline-offset 100ms ease;
  text-underline-offset: 0.5rem;
}

.header__nav--secondary {
  align-self: flex-end;
}

.header__nav-button {
  font-family: var(--font-family-primary, Lato);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  color: var(--font-color-white, #fff);
  line-height: normal;
  padding: 0.75rem 2rem;
  background-color: var(--bg-color-dark-cyan, #13829b);
  border: none;
  border-radius: 0.5rem;
}

.button--click-animation {
  transition: transform 100ms;
}

.button--click-animation:hover {
  transform: scale(1.05);
}

.button--click-animation:active {
  transform: scale(1);
}

/* Styling main section */

.donate-section {
  padding-left: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.donate-section__text-content {
  position: relative;
  z-index: 1;
  flex-grow: 1;
  flex-basis: 50%;
}

.donate-section__tag-list {
  list-style-position: inside;
  list-style-image: url(../assets/list-style-hyphen.svg);
}

.donate-section__tag-list-element {
  font-family: Lato;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  color: var(--bg-color-dark-cyan, #13829b);
  line-height: normal;
}

.donate-section__title {
  font-family: var(--font-family-secondary, Raleway);
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  color: var(--font-color-primary, #333);
  line-height: normal;
  position: relative;
  margin-bottom: 2.75rem;
}

.donate-section__title--highlighted {
  font-family: var(--font-family-secondary, Raleway);
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  color: var(--bg-color-dark-cyan, #13829b);
  text-decoration: underline;
  text-decoration-color: var(--bg-color-very-light-orange, #fde9c9);
  line-height: normal;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.625rem;
}

.donate-section__title-block-icon {
  position: absolute;
  right: 3rem;
  bottom: 0;
  width: 3.2rem;
  height: 3.2rem;
  background-image: url(../assets/section-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1150px) {
  .donate-section__title-block-icon {
    right: 0;
  }
}

.donate-section__desctiption {
  font-family: var(--font-family-primary, Lato);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  color: var(--font-color-primary, #333);
  line-height: 1.8125rem; /* 161.111% */
  margin-bottom: 2.5rem;
  max-width: 80%;
}

.donate-section__support-block {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.donate-section__button {
  font-family: var(--font-family-primary, Lato);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  color: var(--font-color-white, #fff);
  line-height: normal;
  gap: 1rem;
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-color-dark-cyan, #13829b);
  border: none;
  border-radius: 0.5rem;
}

.donate-section__support-block--extra {
  text-decoration: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.donate-section__support-block-icon {
  display: block;
  width: 3rem;
  height: 3rem;
  background-image: url(../assets/open-more-in_circrle-arrow.svg);
}

.donate-section__support-block-title {
  font-family: var(--font-family-primary, Lato);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  color: var(--font-color-primary, #333);
  line-height: 1.8125rem;
}

.donate-section__image-content {
  position: relative;
  flex-basis: 50%;
  flex-grow: 1;
  display: flex;
  justify-content: end;
}

.donate-section__image-content--1 {
  position: absolute;
  z-index: 0;
}

.donate-section__image-content--2 {
  position: relative;
  z-index: 1;
}

.donate-section__image-content-rectangle {
  width: 100%;
  height: 19.5rem;
  background-color: var(--bg-color-light-orange, #fcc29a);
  position: absolute;
  right: 0;
  bottom: -4.88rem;
  z-index: 0;
}

@media screen and (max-width: 900px) {
  .header__content {
    padding: 1rem;
  }
}

@media screen and (max-width: 1295px) {
  .donate-section__text-content {
    padding-right: 5rem;
    padding-bottom: 5rem;
  }
  .donate-section__image-content-rectangle {
    bottom: 30%;
    width: 90vw;
    height: 9rem;
  }
}

@media screen and (max-width: 600px) {
  .donate-section {
    padding-left: 1rem;
  }
  .donate-section__text-content {
    padding: 1rem;
  }
}
